<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
    <script src="../vuex.js"></script>
    <script src="../node_modules/axios/dist/axios.js"></script>
</head>
<body>
<div id="hdw">
    <list></list>
    <footer-car></footer-car>
</div>
<script type="text/x-template" id="list">
<div>
    <h1>购物车</h1>
    <table border="1" width="500" v-if="goods.length>0">
        <tr>
            <th>编号</th>
            <th>商品名称</th>
            <th>商品价格</th>
            <th>数量</th>
            <th>合计</th>
            <th>操作</th>
        </tr>
        <tr v-for="v in goods">
            <td>{{v.id}}</td>
            <td>{{v.title}}</td>
            <td>{{v.price}}元</td>
            <td>
                <input type="number" min="1" v-model="v.num" />
            </td>
            <td>{{v.totalPrice}}元</td>
            <td @click="del(v.id)"><a>删除</a></td>
        </tr>
    </table>
    <h2 v-else>购物车中没有商品 <a>去购物</a></h2>
</div>
</script>
<script type="text/x-template" id="footerCar">
<div v-if="goods.length>0">
    <h3>总价：{{totalPrice}}元</h3>
</div>
</script>
<script>
    //设置一个容器，用来存储数据
    let store=new Vuex.Store({
        //设置数据
        state:{
            goods:[]
        },
        //通过计算获得商品总价
        getters:{
            totalPrice:state=>{
                let totalPrice=0;
                //循环每一组商品
                state.goods.forEach((v)=>{
                    //商品总价等于每一个商品的数量乘以商品价格之和
                    totalPrice+=v.num*v.price;
                })
                //返回计算后是商品总价
                return totalPrice;
            },
            //获得每一个商品的总价
            goods(state){
                let goods=state.goods;
                //循环state里每一组商品的信息
                goods.forEach((v)=>{
                    //每一个商品的总价等于商品价格乘以商品数量
                    v.totalPrice=v.price*v.num;
                })
                return goods;
            }
        },
        //删除购物车中的商品，mutations是修改仓库里数据
        mutations:{
            //创建删除购物车商品的方法
            del(state,param){
                let k;
                //循环仓库里的商品
                for(let i=0;i<state.goods.length;i++){
                    //如果仓库的商品id等于要删除商品的id
                    if(state.goods[i].id==param.id){
                        //就把商品的下标赋值给k
                        k=i;
                        //跳出循环体
                        break;
                    }
                }
                //删除仓库里下标为k的这一组商品
                state.goods.splice(k,1);
            },
            //创建数组数据的方法
            setGoods(state,param){
                //让仓库里的数据等于从数据库获取来的数据
                state.goods=param.goods;
            }
        },
        //actions是处理异步的，通过后台抓取数据
        actions:{
            loadGoods(store){
                //使用axiox方法，请求data.php里的数据
                axios.get('data.php').then(function (response) {
                    //commit是触发mutations里的方法，设置数据，
                    //让仓库里的数据等于从数据库获取来的数据
                    store.commit('setGoods',{goods:response.data});
                    console.log(response);
                })
            }
        }
    })

    var list={
        template:'#list',
        //使用计算属性，从容器里获得数据，当容器里的数据发生变化时，计算属性的值也会变化
        //页面的值也会跟着变化
        computed:{
            goods(){
                //返回getters里计算好的商品信息
                return this.$store.getters.goods
            }
        },
        methods:{
            //创建删除商品的方法
            del(id){
                //commit触发mutiations里的方法
                //调用store仓库里面删除购物车商品的方法
                this.$store.commit('del',{id})
            }
        }
    }

    var footerCar={
        template:'#footerCar',
        computed:{
            totalPrice(){
                //返回getters里计算后的商品总价
                return this.$store.getters.totalPrice;
            },
            goods(){
                return this.$store.getters.goods;
            }
        }
    }
    new Vue({
        el:'#hdw',
        //把存储的数据放在根组件里，根组件和子组件都可以用
        store,
        components:{list,footerCar},
        //挂彩，页面加载就获得数据
        mounted(){
            //dispatch是触发actions里的方法，在跟组件就获取数据
            this.$store.dispatch('loadGoods');
        }
    })
</script>
</body>
</html>