<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="hdw">
    <input type="number" v-model="age" />
    <span v-if="age<20">小孩</span>
    <span v-else-if="age<30">青年</span>
    <span v-else-if="age<50">中年</span>
    <span v-else>老年</span>
    <hr/>
    <input type="checkbox" v-model="copyright" />接受协议
    <br/>
    <!-- v-if的用法-->
    <span v-if="copyright==false">请接受协议</span>
    <button v-else>注册</button>
</div>
<script>
    var app=new Vue({
        el : '#hdw',
        data:{
            copyright:false,
            age:0
        }
    })
</script>
</body>
</html>