<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="hdw">
    <textarea v-model="current_content" rows="10" cols="50"></textarea><br/>
    <button v-on:click="store('first')">在第一行发表</button>
    <button v-on:click="store('last')">在最后一行发表</button>
    <br/>
    <button v-on:click="del('first')">删除第一行</button>
    <button v-on:click="del('last')">删除最后一行</button><br/>
    <button v-on:click="sort()">按照序号排序</button>
    <button v-on:click="reverse">反转</button><br/>
    搜索：<input type="text" v-on:keyup.enter="search()" v-model="search_content" />
    <br/>
<li v-for="(v,k) in comment">
 {{k}}->{{v.id}}->{{v.content}}<button v-on:click="remove(k)">删除</button>
</li>
</div>
<script>
    var app=new Vue({
        el:'#hdw',
        methods:{
            //搜索功能
            search(){
                //alert(this.search_content);
                //把符合正则比配的数据赋值给this.comment
                this.comment=this.comment.filter((item)=>{
                    //正则比配，不区分大小写，只要是数据中包含有搜索的内容就会被留下
                    var reg=new RegExp(this.search_content,'i');
                    //返回符合正则比配的数据
                    return reg.test(item.content);
                })
                this.search_content='';
            },
            reverse(){
                //使数组元素反过来排序
              this.comment.reverse();
            },
            sort(){
                //使数组元素按定义的顺序排序
              this.comment.sort(function (a,b) {
                  //从小到大排序
                  return a.id>b.id;
              })
            },
            remove(k){
                //删除数组中下标为k的元素
                this.comment.splice(k,1);
                //alert(k);
            },
            store(type){
                var content={id:this.comment.length+1,content:this.current_content};
                switch (type){
                    case 'first':
                        //在数组头部添加元素
                        this.comment.unshift(content);
                        break;
                    case 'last':
                        //在数组末尾添加元素
                        this.comment.push(content);
                        break;
                }
                this.current_content='';
            },
            del(type){
                switch (type){
                    case 'first':
                        this.comment.shift();
                        break;
                    case 'last':
                        this.comment.pop();
                        break;
                }
            }
        },
        data:{
            search_content:'',
            current_content:'',
            comment:[
                {id:3,content:'后盾人'},
                {id:4,content:'后盾网'},
                {id:2,content:'后盾cms'},
                {id:1,content:'后盾php'}
            ]
        }
    })
</script>
</body>
</html>