<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="hdw">
    <!-- :is 动态绑定组件-->
    <div :is="formType"></div>
   <input type="radio" v-model="formType" value="hdTextarea" />文本域
   <input type="radio" v-model="formType" value="hdInput">文本框
</div>
<script type="text/x-template" id="hdTextarea">
<div><textarea></textarea></div>
</script>
<script type="text/x-template" id="hdInput">
<div><input type="text" /></div>
</script>
<script>
    var hdTextarea={
        template:'#hdTextarea'
    }
    var hdInput={
        template:'#hdInput'
    }
    new Vue({
        el:'#hdw',
        components:{hdTextarea,hdInput},
        data:{
            formType:'hdTextarea'
        }
    })
</script>
</body>
</html>